{
    "singleQuote": true,
    "proseWrap": "never",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "auto"
}
